.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.vscode
test_files/**
tsconfig.json
webpack.config.js
.gitignore
**/*.ts
.yarn
.idea
lerna-debug.log
lerna.json
*.vsix