.vscode/**
.vscode-test/**
.vscode-test-web/**
src/**
.gitignore
**/tsconfig.json
**/tsconfig.build.json
**/*.map
**/*.ts
web/**
node_modules
**/node_modules
packages/**/node_modules
test-project
.idea
.yarn
.vscode-test-web
packages/**/*
packages/breed-renderer
.esliintrc.json
.gitignore
/**/.gitignore
.pnp.cjs
.pnp.loader.mjs
.vscodeignore
build.json
*.vsix
configure-references.js
lerna.json
*.log
/**/*.log
server.json
**/webpack.config.js
yarn.lock
**/yarn.lock
**/tsconfig.tsbuildinfo
!language-configuration.json
!syntaxes
!packages/**/dist/web
!packages/**/dist/node
!icons